<%#= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

   <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <span class="form-feild">
      <%= f.select :active, options_for_select([['Yes', "true"], ['No', "false"]], @user.active), {}, class: 'selectpicker select-controller' %>
    </span>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%# end %>
