<%#= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

   <div class="field">
    <%= f.label :book%>
    <%= f.text_field :book %>
  </div>

  <div class="field">
    <%= f.label :return_date %>
    <%= f.date_select(:return_date,:start_year => 1990) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%# end %>
